:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #242424;
  background: #fff;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

a {
  color: #777;
  text-decoration: none;
  border: none;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem;
}

.py-1 {
  padding: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.m-1 {
  margin: 1rem;
}

.py-2 {
  padding: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.m-2 {
  margin: 2rem;
}

.py-3 {
  padding: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.m-3 {
  margin: 3rem;
}

.py-4 {
  padding: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.m-4 {
  margin: 4rem;
}

.py-5 {
  padding: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.m-5 {
  margin: 5rem;
}

.py-6 {
  padding: 6rem 0;
}

.p-6 {
  padding: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.m-6 {
  margin: 6rem;
}

.py-7 {
  padding: 7rem 0;
}

.p-7 {
  padding: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.m-7 {
  margin: 7rem;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background: #197c3a;
}

.lead {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.bottom-line {
  border-top: 3px solid #197c3a;
  width: 4.5rem;
  margin: .5rem auto 1rem auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.navbar .logo {
  width: 50px;
  height: 50px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 1rem;
}

.navbar ul li a {
  text-transform: uppercase;
  padding: 0.8rem 0;
  color: #fff;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}

.navbar ul li a:hover {
  border-bottom: 2px solid #fff;
}

.navbar ul li a.active {
  border-bottom: 2px solid #197c3a;
}

.bg-dark {
  background: #777;
  color: #fff;
}

.bg-black {
  background: #242424;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-primary {
  background: #197c3a;
  color: #fff;
}

.bg-secondary {
  background: #343a40;
  color: #fff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
  border: none;
  background: set-;
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #000;
}

.btn-dark {
  background: #777;
  color: #fff;
}

.btn-black {
  background: #242424;
  color: #fff;
}

.btn-primary {
  background: #197c3a;
  color: #fff;
}

.btn-secondary {
  background: #343a40;
  color: #fff;
}

.btn-outline {
  background: transparent;
  border: 1px solid #f4f4f4;
}

.btn-block {
  display: block;
}

.btn:hover {
  opacity: .8;
  transform: scale(0.95);
}

.btn-bounce {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backface-visibility: hidden;
}

.btn-bounce:active {
  transform: translateY(-2px);
}

.btn-bounce:hover {
  transform: translateY(-5px);
}

.btn-flash {
  position: relative;
}

.btn-flash:hover::after {
  transform: scale(1.4, 1.8);
  opacity: 0;
}

.btn-flash::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
  z-index: -1;
  transition: all .4s;
}

.btn-slide {
  position: relative;
}

.btn-slide:hover {
  color: #fff;
  font-weight: 500;
}

.btn-slide:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 5%;
  transition: all .4s ease-in-out;
  background: #197c3a;
  color: #fff !important;
}

.btn-slide:hover::after {
  width: 100%;
}

.btn + .btn {
  margin-left: 2rem;
}

#header .logo {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 100px;
  width: 100px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

#header .menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

#header .menu-wrapper .toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#header .menu-wrapper .toggler:checked + .burger {
  transform: rotate(135deg);
}

#header .menu-wrapper .toggler:checked + .burger > div::before,
#header .menu-wrapper .toggler:checked + .burger > div::after {
  transform: rotate(90deg);
  top: 0;
}

#header .menu-wrapper .toggler:checked:hover + .burger {
  transform: rotate(225deg);
}

#header .menu-wrapper .toggler:checked ~ .menu {
  visibility: visible;
}

#header .menu-wrapper .toggler:checked ~ .menu > div {
  transform: translateY(0);
  transition: all 0.8s ease-in-out;
}

#header .menu-wrapper .burger {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  background: rgba(0, 51, 17, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  padding: 1rem;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

#header .menu-wrapper .burger > div {
  position: relative;
  top: 0;
  left: 0;
  height: 3px;
  background: #fff;
  width: 100%;
  z-index: 1;
}

#header .menu-wrapper .burger > div::before, #header .menu-wrapper .burger > div::after {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  height: 3px;
  background: inherit;
  width: 100%;
  transition: all 0.8s ease 0.4s;
  z-index: 1;
}

#header .menu-wrapper .burger > div::after {
  top: 10px;
}

#header .menu-wrapper .menu {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#header .menu-wrapper .menu > div {
  display: flex;
  max-height: 100vh;
  width: 100vw;
  transform: translateY(-100vh);
  justify-content: center;
  align-items: center;
  flex: none;
  background: rgba(0, 51, 17, 0.85);
  transition: all 0.7s ease-in-out;
  overflow-y: auto;
}

#header .menu-wrapper .menu > div > div {
  display: flex;
  max-height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
}

#header .menu-wrapper .menu > div > div .logoBx {
  height: 120px;
  width: 120px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#header .menu-wrapper .menu > div > div .logoBx img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#header .menu-wrapper .menu > div > div .logoBx img:hover {
  color: #031;
  font-weight: 700;
  transform: scale(1.1);
}

#header .menu-wrapper .menu > div > div .socials i {
  padding: 1rem;
}

#header .menu-wrapper .menu > div > div .socials i:hover {
  color: #c31;
  font-weight: 700;
  transform: scale(1.1);
}

#header .menu-wrapper .menu > div > div ul li {
  padding: 0.5rem;
}

#header .menu-wrapper .menu > div > div ul li a {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.4s;
}

#header .menu-wrapper .menu > div > div ul li a:hover {
  color: #c31;
  font-weight: 700;
  transform: scale(1.1);
}

#header .showcase {
  position: relative;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#header .showcase::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/mfa-hq-front.jpg) no-repeat center center/cover;
  z-index: -1;
}

#header .showcase .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .showcase .container > div:first-child {
  flex-basis: 50%;
}

#header .showcase .container > div:first-child p {
  color: #f1f1f1;
  margin-bottom: 3rem;
  flex-grow: 1;
  padding-top: 15rem;
  font-size: 1.8rem;
}

#header .showcase .container > div:last-child {
  flex-basis: 30%;
}

#latest {
  margin-bottom: 10rem;
}

#latest .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#latest .container .card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr auto;
  gap: 1rem;
}

#latest .container .card .imgBox {
  background: #ccc;
}

#latest .container .card .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

#latest .container .card .btn-slide {
  justify-self: flex-start;
  align-self: flex-start;
}

#about {
  padding-bottom: 10rem;
  background: #e1f0e1;
}

#about .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

#about .container .card {
  background: #fff;
}

#about .container .card a {
  padding: 4rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 70px 1fr;
  transition: all 0.8s ease-in-out;
}

#about .container .card a:hover {
  background: #031;
  color: #fff;
}

#about .container .card a:hover > .icon {
  background: #fff;
  color: #242424;
}

#about .container .card h4 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0 2rem;
}

#about .container .icon {
  text-align: center;
  height: 70px;
  width: 70px;
  margin: 0 auto 1rem;
  padding: 1rem;
  background: rgba(0, 51, 17, 0.95);
  background: #027267;
  color: #fff;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
}

#missions {
  padding-bottom: 10rem;
}

#missions .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 0.5rem;
}

#missions .container a {
  padding: 0.2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #242424;
  transition: all 0.4s ease-in-out;
}

#missions .container a:hover {
  color: #031;
  transform: translateX(-6px);
  text-shadow: -5px -5px -10px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  border-bottom: 2px solid #197c3a;
}

#invest {
  padding-bottom: 10rem;
}

#invest .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

#invest .cards .card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  transition: all 0.8s ease-in-out;
}

#invest .cards .card:hover > div:last-child {
  opacity: 1;
  transform-origin: center;
}

#invest .cards .card > div:first-child {
  grid-row: 1 / -1;
  grid-column: 1;
  height: 250px;
}

#invest .cards .card > div:first-child img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

#invest .cards .card > div:last-child {
  grid-row: 1 / -1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background: rgba(0, 51, 17, 0.85);
  font-weight: 500;
  justify-self: center;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  transform-origin: center;
  width: 100%;
}

#invest .cards .card > div:last-child h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f7f7f7;
}

#invest .cards .card > div:last-child p {
  color: #ccc;
}

#footer {
  background: #031;
  height: 150px;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#footer .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .container .socials i {
  padding: 0.5rem;
  margin-left: 0.5rem;
  transition: all 0.4s ease-in-out;
}

#footer .container .socials i:hover {
  color: #197c3a;
}

#footer .container .footer-logo {
  order: -1;
  height: 90px;
  width: 90px;
  background: #fff;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

#footer .container .footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #197c3a;
}

.heading-secondary {
  padding: 0.5rem 1rem;
}

.section-head {
  text-align: center;
  padding: 7rem 0 5rem;
}

@media (max-width: 900px) {
  .heading-primary {
    font-size: 2.5rem;
    letter-spacing: 0;
  }
  .section-head {
    text-align: center;
    padding: 5rem 0 3rem;
  }
  #header .showcase .container {
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  #header .showcase .container > div:first-child {
    flex-basis: 80%;
  }
  #header .showcase .container > div:first-child p {
    padding-top: 3rem;
  }
  #header .showcase .container > div:last-child {
    flex-basis: 2%;
  }
  #latest .container {
    grid-template-columns: repeat(2, 1fr);
  }
  #about .container {
    grid-template-columns: repeat(2, 1fr);
  }
  #about .container > *:first-child {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #missions .container {
    grid-template-columns: repeat(3, 1fr);
  }
  #invest .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #invest .cards .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .heading-primary {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .heading-secondary {
    font-size: 1.2rem;
    padding: 0 2.5rem;
  }
  #header .showcase .container {
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  #header .showcase .container > div:first-child {
    flex-basis: 98%;
  }
  #header .showcase .container > div:first-child p {
    padding-top: 3rem;
  }
  #header .showcase .container > div:last-child {
    flex-basis: 2%;
  }
  #latest .container {
    grid-template-columns: 1fr;
  }
  #about .container {
    grid-template-columns: 1fr;
  }
  #about .container > *:first-child {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #missions .container {
    grid-template-columns: repeat(2, 1fr);
  }
  #invest .cards {
    grid-template-columns: 1fr;
  }
  #invest .cards .card {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #footer {
    height: 170px;
  }
  #footer .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  #footer .footer-logo {
    height: 20px;
    width: 20px;
  }
  #footer .socials i {
    font-size: 1.5rem;
  }
  #footer .copy {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */